:root {
  --white: #F2F4F3;
  --lred: #BB0717;
  --dred: #5E0B15;
  --grey: #4C5B61;
  --blue: #2E4057;
  --black: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: #141414;
}

p {
  margin-bottom: 10px;
  margin-top: 10px;
}

a:link {
  color: #2e4057;
}

a:visited: {
  color: #2e4057;
}

.top-bar-container {
  border: 1px solid #bb0717;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.top-bar {
  border: 1px dotted #bb0717;
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.button-hug {
  display: flex;
}

.navbar-container {
  border: 1px solid #bb0717;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  background-color: var(--white);
}

.navbar {
  border: 1px dotted #bb0717;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

/* 
.test-clamp{
  display: flex;
  width: 20%;
  flex-direction: column;
}
*/

.words{
  /*
  h3 {
    color: var(--blue);
  }
  p {
    color: var(--lred);
  }
  */
}

.link {
  border: 1px dotted pink;
  padding-right: 20px;
}

.main { 
  width: 100%;
  border: 1px solid var(--blue);
  display: flex;
  justify-content: center;
}

.sidebar-container{
  border: 1px solid #bb0717;
  padding: 20px;
  display: flex;
  width: 10%;
}

.sidebar{
  border: 1px dotted #bb0717;
}

.header-container{
  display: flex;
  justify-content: center;
}

.body-container{
  border: 1px solid #bb0717;
  padding: 20px;
  display: flex;
  width: 70%;
  flex-direction: column;
}

.header-logo{
  display: flex;
  justify-content: center;
}

.body {
  border: 1px dotted #bb0717;
  justify-content: center;
}

.dark-mode {
  background-color: var(--black);
  color: var(--white);
}
