* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #130f0b;
  color: #b4a9a9;
}

p {
  margin-bottom: 10px;
  margin-top: 10px;
}

.top-bar-container {
  border: 1px solid red;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.top-bar {
  border: 1px dotted red;
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.link {
  border: 1px dotted pink;
  padding-right: 20px;
}

.main { 
  display: flex;
  justify-content: center;
}

.sidebar-container{
  border: 1px solid red;
  padding: 20px;
  display: flex;
  width: 200px;
}

.sidebar{
  border: 1px dotted red;
}

.header-container{
  display: flex;
  justify-content: center;
}

.body-container{
  border: 1px solid red;
  padding: 20px;
  display: flex;
  width: 900px;
}

.body {
  border: 1px dotted red;
  justify-content: center;
}
